<footer>
    <div class="up-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <aside id="text-2" class="widget footer-widget widget_text"><h2>About CloudRouter</h2>

                        <div class="textwidget"><p>The CloudRouter Project is a collaborative open source project
                            focused on developing a powerful, easy to use router designed for the cloud.
                            <a href="{{ site.baseurl }}/about/">Read More</a>
                        </p>
                        </div>
                    </aside>
                </div>
                <div class="col-md-3 col-sm-6">
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col-md-3 col-sm-6">
                    <aside id="nav_menu-5" class="widget footer-widget widget_nav_menu"><h2>Quick Links</h2>

                        <div class="menu-first-footer-menu-container">
                            <ul id="menu-first-footer-menu" class="menu">
                                <li id="menu-item-188"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-188">
                                    <a href="{{ "/about/" | prepend: site.baseurl }}">About</a></li>
                                <li id="menu-item-192"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-192">
                                    <a href="{{ "/features/" | prepend: site.baseurl }}">Features</a></li>
                                <li id="menu-item-189"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-189">
                                    <a href="{{ "/security/" | prepend: site.baseurl }}">Security</a></li>
                                <li id="menu-item-190"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-190">
                                    <a href="{{ "/community/" | prepend: site.baseurl }}">Community</a></li>
                                <li id="menu-item-191"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-191">
                                    <a href="{{ "/getting-started/" | prepend: site.baseurl }}">Getting Started</a></li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <div class="col-md-3 col-sm-6">
                    <aside id="nav_menu-4" class="widget footer-widget widget_nav_menu"><h2>Keep in Touch</h2>

                        <div class="menu-social-media-container">
                            <ul id="menu-social-media" class="menu">
                                <li id="menu-item-180"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-180"><a
                                        href="http://twitter.com/cloudrouter">Twitter</a></li>
                                <li id="menu-item-181"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-181"><a
                                        href="http://fb.me/cloudrouterproject">Facebook</a></li>
                                <li id="menu-item-281"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-281">
                                      <a href="https://plus.google.com/116921548201786287241" rel="publisher">Google+</a></li>
                                <li id="menu-item-203"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-203">
                                    <a href="mailto:admin@lists.cloudrouter.org">Contact Us</a></li>
                                <li id="menu-item-182"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-182"><a
                                        href="http://linkedin.com/company/cloudrouter">LinkedIn</a></li>
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-line">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div style="font-size: 11px; line-height: 14px;">Copyright © 2015 IIX Inc. and others. All
                        Rights Reserved.
                    </div>
                    <div style="font-size: 11px; line-height: 14px; margin-top: 5px;">The CloudRouter Project is
                        maintained and driven by the community and sponsored by IIX. This is a community maintained
                        site. IIX is not responsible for content.
                    </div>
                    <div style="font-size: 11px; line-height: 14px; margin-top: 5px;">Please see our <a
                            href="{{ "/legal/" | prepend: site.baseurl }}">legal</a> page, <a href="{{ "/license/" | prepend: site.baseurl }}">license</a>, <a
                            title="Developer’s Certificate of Origin"
                            href="{{ "/developer-certificate/" | prepend: site.baseurl }}">Developer’s Certificate of
                        Origin</a>, <a href="{{ "/trademark-guidelines/" | prepend: site.baseurl }}">trademark guidelines</a> and <a
                            href="{{ "/privacy-policy/" | prepend: site.baseurl }}">privacy policy</a>.
                    </div>
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
    </div>
</footer>
